# Node.js
node_modules
dist

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
*.tar.gz

# Vite config (if you're not using it on backend)
vite.config.ts

# Optional: Ignore frontend/public if not needed
server/public
